/* Global Styles */
* {
  font-family: Helvetica, Arial, sans-serif;
}
body {
  background-color: #F2F2F2;
  margin: auto;
}
@media (min-width: 600px) {
  body {
    padding: .5rem;
  }
}
a {
  cursor: pointer;
}
/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  border-radius: 4px;
}

.mat-dialog-container {
  background-color: #D8D9D1;
}

.mat-form-field-label {
  color: #1D5AC4;
}

.mat-dialog-title {
  color: #1D5AC4;
}