<div class="welcome">
  <div class="header">
    <img src="../../../assets/img/ecommerce.png" />
    <h2>e-Commerce Gapsi</h2>
  </div>
  <div class="main">
    <img src="../../../assets/img/user.png" />
    <label>Bienvenido {{candidateName}}</label>
    <button (click)="continue();">Continuar</button>
  </div>
</div>