/* WelcomeComponent's private CSS styles */
.welcome {
  background-color: #F2F2F2;
  border-radius: 3px;
  justify-content: center;
  width: 100%;
  vertical-align: middle;
}

.welcome .header {
  background-color: #F9F9F9;
  color: #3073F7;
  display: flex;
  padding: 1%;
  padding-left: 5%;
  padding-right: 5%;
}

.welcome .header img {
  height: 50px;
  padding-right: 1%;
}

.welcome .main {
  vertical-align: middle;
  display: grid;
  justify-content: center;
  margin: auto;
  padding: 5%;
  text-align: center;
  width: 60%;
}

.welcome .main label {
  font-size: 1rem;
  padding: 3%;
}

.welcome .main img {
  border-radius: 50%;
  border: 3px solid #2C97DD;
  height: 75%;
  padding: 3%;
}

.welcome button {
  background-color: #2C97DD;
  border-radius: 12px;
  color: beige;
  padding: 5%;
}

.welcome .footer {
  background-color: white;
  padding: 2%;
  text-align: right;
}

.welcome .footer label {
  font-size: .75rem;
}