<h1 mat-dialog-title>Proveedor {{data.name}}</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Estado proveedor</mat-label>
    <mat-select [(ngModel)]="data.status">
      <mat-option value="1">Activo</mat-option>
      <mat-option value="2">Inactivo</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Nombre comercial</mat-label>
    <input matInput [(ngModel)]="data.name">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Fecha alta</mat-label>
    <input matInput [matDatepicker]="picker" placeholder="Izaberite datum narudzbe"
      [(ngModel)]="data.addDate" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Dirección</mat-label>
    <input matInput [(ngModel)]="data.address" required>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Aceptar</button>
</div>