.footer {
  background-color: black;
  bottom: 0;
  left: 0;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 2%;
  position: fixed;
  width: 100%;
  text-align: right;
}

.footer label {
  font-size: .75rem;
  color: #FFFFFF;
}