<div class="suppliers">
  <div class="add-supplier">
    <button (click)="add();"><img src="../../../assets/img/add.png" height="35"/></button>
  </div>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> 
          {{element.status == 1 ? 'Activo' : 'Inactivo'}} 
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre comercial </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Add Date Column -->
      <ng-container matColumnDef="addDate">
        <th mat-header-cell *matHeaderCellDef> Fecha de alta </th>
        <td mat-cell *matCellDef="let element"> {{element.addDate}} </td>
      </ng-container>

      <!-- Address Column -->
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef> Dirección </th>
        <td mat-cell *matCellDef="let element"> {{element.address}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element"> 
          <button (click)="edit(element);"><img src="../../../assets/img/edit.png" height="33"/></button>
          <button (click)="delete(element);"><img src="../../../assets/img/delete.png" height="35"/></button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                  aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</div>
