table {
  width: 100%;
}
.suppliers button {
  padding-left: 2%;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.add-supplier {
  padding: 2%;
  text-align: right;
}

.mat-header-row {
  background-color: #1D5AC4;
}

.mat-paginator {
  background-color: #1D5AC4;
}

.mat-row {
  background-color: #FFFFFF;
}
.mat-cell {
  color: black;
  border-bottom-color: black;
}

.mat-column-actions {
  flex: none;
  width: 9em;
}

.mat-column-productName {
  flex: 0 0 50%;
}
